@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-zinc-950 text-zinc-100;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
